

*
    box-sizing: border-box
    margin: 0
    padding: 0
    
body
    background-color: #162a61   
    display: flex
    height: 100vh
    justify-content: center
    align-items: center

.navigation
    position: relative   
    width: 60px
    height: 60px  
    background: #ad4ed3 
    border-radius: 10px
    cursor: pointer
    transition: 0.6s
    display: flex
    justify-content: center
    align-items: center
    transition-delay: 0.3s
    &.active
        width: 180px
        height: 180px
        transform: 0.6s
        transition-delay: 0s
        & span
            display: flex
            justify-content: center
            align-items: center
            width: 30px
            height: 30px
            transform: translate(calc(60px * var(--x)), calc(60px * var(--y)))
            transition: 1s
            transition-delay: calc(0.1s * var(--i))
            background: none
            & i
                font-size: 1.5em
                &:hover
                    color: #ffffff
                    transition: 0.6s
    & span
        display: flex
        justify-content: center
        align-items: center
        transition: 0.6s
        position: absolute
        width: 6px
        height: 6px
        background-color: #fff
        border-radius: 50%
        transform: translate(calc(15px * var(--x)), calc(15px * var(--y)))
        & i
            font-size: 0em
            transition: 0.6s
